@media only screen and (max-width: 700px) {
  
  #frontpage-div{
    padding: 15px;
  }

  #container {
    flex-direction: column;
    margin: 0px auto;
    width: 90%;
 
}
.inner-div {
  width: 100%;
}
#container {
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
  border-radius: 10px; 
}

.inner-div {
  width: 100%;
  height: auto;
  min-height: 200px;
}

.inner-div:first-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-right: 0;
  margin-bottom: 2px;
}

.inner-div:last-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 10px; 
  border-bottom-right-radius: 10px; 
}

.inner-div + .inner-div {
  border-left: none;
  border-top: 2px solid white;
}
.project-div {
  flex-direction: column-reverse;
}

.project-image-container {
  width: 100%;
  height: 200px; /* Adjust as needed */
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-div {
width: 90%;
}
.project-content {
  width: 100%;
  padding: 20px;
}
  }
  